@page "/settings/sample-data"
@inject ISeedManager seedManager
@inject IMessageService MessageService


<Button Type="ButtonType.Primary" Class="mb-3" OnClick="SeedProducts">Create Sample Products</Button>

@code {
    async Task SeedProducts()
    {
        try
        {
            await seedManager.SeedProducts();
            MessageService.Success("Products seeded successfully.");
        }
        catch (Exception)
        {
            MessageService.Error("An error occurred while seeding products.");
        }
    }
}
